# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
src/main/resources/assets/.DS_Store
src/main/resources/.DS_Store
src/main/.DS_Store
src/.DS_Store
.DS_Store
